<?xml version="1.0"?>
<mapperConfig>
  <!--<mapperFormatter>
<![CDATA[
using System.Collections.Generic;

using English.Site.Business.Domain.Hotels;
using English.Site.Common.Collections.Mapper;
using English.Site.Common.IOC;

using Global.API.IService;

namespace English.Site.Repository.Hotel.Mapper
{{
    [AutoWireup(typeof(IMapper<{0}, {1}>), IocLifeTimeType.Singleton)]
    public class {0}To{1} : BaseMapper<{0}, {1}>
    {{
        public {0}To{1}()
        {{
            OnConvert += Convert;
        }}

        private void Convert({0} source, {1} target)
        {{
            if (source != null)
            {{
                if (target == null) target = new {1}();

{2} 
            }}
        }}
    }}
}}
]]>
  </mapperFormatter>-->
  <mapperFormatter>
<![CDATA[
public static {1} To{1}(this {0} source)
{{
  var target = default({1});
  
  if (source != null)
  {{
      target = new {1}();

{2}
  }}
  
  return target;
}}
]]>
  </mapperFormatter>
</mapperConfig>
