<?xml version="1.0"?>
<ctranConfig>

  <ctranFormatter><![CDATA[
/// <summary>
///   Looks up a localized string similar to {1}
/// </summary>
public string {2}
{{
    get
    {{
        return GetValue("{0}", languageName);
    }}
}}]]>
  </ctranFormatter>

  <excelFormatter>
    <![CDATA[
  <data name="{0}" xml:space="preserve">
    <value>{1}</value>
  </data>]]>
  </excelFormatter>

  <propertyFormatter>
    <![CDATA[
  public string {0} {{ get; set; }}]]>
  </propertyFormatter>
  
</ctranConfig>
